//main page on contents click (to give the zoom)
.contents.about-me {
    transform: translate3d(-320px, 30px, 100vw) rotateY(-90deg);
}

//Main page about me frame css
.content-holder.about-me {
    left: 32%;
    top: 40%;
    transform: rotateY(180deg);
}

//About me page css
.content.about-me {
    .skills {
        padding: 30px;
        background-color: $secondary-dark;
        border-radius: 15px;
        
        p {
            text-align: end;
            width: 180px;
            margin-bottom: 10px;
        }
        .progress {
            max-width: 100%;
            width: 500px;
            margin-left: 20px;
        }
    }
    
    //Progress bars css
    .progress-bar {
        transition: all ease-in-out 1s;
        transition-property: width;
        transition-delay: 1s;
        width: 0%;
    }
    &.show .w-90-progress {
        width: 90%;
    }

    &.show .w-85-progress {
        width: 85%;
    }

    &.show .w-70-progress {
        width: 70%;
    }

    &.show .w-65-progress {
        width: 65%;
    }
    
    &.show .w-50-progress {
        width: 50%;
    }

    &.show .w-30-progress {
        width: 30%;
    }
}