//If you want to use bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Open+Sans:wght@700&display=swap');

//Add css here (To learn the advantages of sass visit here https://www.w3schools.com/sass/)
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

.contents {
    width: 100%; 
    height: 100vh;
    transition: all ease-in-out 1s;
    background-color: #01000a;

    img {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
    }

    &.intro {
        transform: scale(1) translate(0px, 0px);
    }
    &.about-me {
        transform: scale(5) translate(18%, 6%);
    }
    &.my-work {
        transform: scale(5) translate(-3%, -7%);
    }
    &.contacts {
        transform: scale(5) translate(-24%, 6%);
    }
}

.content-holder {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
    &.about-me {
        width: 100px;
        height: 100px;
        left: 32%;
        top: 46%;
        background-image: url(img/frame.png);
        background-repeat: no-repeat;
        background-size: contain;

        h2 {
            top: -58px;
        }
    }
    &.my-work {
        width: 500px;
        height: 400px;
        left: calc(50% + 50px);
        top: 68%;
        background-image: url(img/desk.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    &.contacts {
        width: 157px;
        height: 100px;
        right: 18%;
        top: 46%;
        background-image: url(img/tv.png);
        background-repeat: no-repeat;
        background-size: contain;

        h2 {
            top: -58px;
        }
    }
    
    h2 {
        position: absolute;
        width: max-content;
        left: 50%;
        transform: translateX(-50%);

        strong {
            position: absolute;
            top: 33px;
            left: calc(50% - 4px);
            animation: animatename 1s ease-in-out infinite;
            font-size: 16px;
        }
    }
}

.content {
    position: fixed;
    width: 100%; 
    height: 100vh;
    top: 0;
    left: 0;
    padding: 50px;
    background-color: #182324;
    color: white;
    transform: scale(0);
    transition: all ease-in-out 1s;
    
    &.show {
        transform: scale(1);
        z-index: 1;
    }

    .progress-bar {
        transition: all ease-in-out 1s;
        transition-delay: 2s;
        transition-property: width;
        width: 100%;
    }
    /*&.next {
        transform: scale(2) translate(0px, 0px);
    }*/
}

@keyframes animatename{
    0%{
      transform: translateY(5px);
    }
    50%{
      transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}

/*
.contentAnimation {
    width: 50px;
    height: 50px;
    background-color: black;
    animation: animatename 1s ease-in-out infinite;
}
*/