@import './variables.scss';
@import './home.scss';

//If you want to use bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Open+Sans:wght@700&display=swap');

// ----------------------- GENERAL FORMATTING -----------------------
a, input, p {
    font-family: 'Montserrat Alternates', sans-serif;
    color: $font-color-dark;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.root {
    overflow: hidden;
    width: 200px;
    height: 200px;
    perspective: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 1s;
    transform: translate(-50%, -50%) scale(4);
}