//main page on contacts click (to give the zoom)
.contents.contacts {
    transform: translate3d(22vh, 4vh, 112vh) rotateY(90deg);

    .content-holder.contacts {
        button {
            opacity: 1;
            pointer-events: all;
        }

        a {
            pointer-events: all;
        }
    } 
}

.width-smaller .contents.contacts {
    transform: translate3d(22vw, 4vw, 112vw) rotateY(90deg);
}

//Main page contacts television css
.content-holder.contacts {
    right: 13%;
    top: 31%;
    transform: rotateY(180deg);
    width: 30%;
    height: 30%;

    button {
        transition: all 1s;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    a {
        pointer-events: none;
        position: absolute;
        width: 40%;

        &.linkedin {
            left: 0;
            top: 0;
        }

        &.github {
            right: 0;
            top: 0;
        }

        &.npm {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}