@import './about-me.scss';
@import './my-work.scss';
@import './contacts.scss';

//main page parent div
.contents {
    transition: all ease-in-out 2s;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;

    >div:not(.my-work) {
        position: absolute;
        width: 200px;
        height: 200px;
    }

    >.roof {
        background-color: purple;
        transform: rotateX( 90deg) translateZ(100px);
    }
    >.floor {
        background-color: yellow;
        transform: rotateX(-90deg) translateZ(100px);
    }
    >.f-wall {
        background-color: red;
        transform: translateZ(100px);
        display: none;
        /*&.w-smaller-than-h {
            transform: translateZ(-50vw );
        }*/
    }
    >.b-wall {
        background-color: grey;
        transform: rotateY(180deg) translateZ(100px);
    }
    >.l-wall {
        background-color: blue;
        transform: rotateY(-90deg) translateZ(100px);
    }
    >.r-wall {
        background-color: green;
        transform: rotateY( 90deg) translateZ(100px);
    }
}

//Main page items css
.content-holder {
    position: absolute;
    cursor: pointer;
        
    >h2 {
        font-size: 10px;
        white-space: nowrap;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);

        >strong {
            position: absolute;
            top: 9px;
            left: calc(50% - 4px);
            animation: animatename 1s ease-in-out infinite;
        }
    }

    >img {
        width: 100%;
        margin: auto;
        display: block;
    }
}

//Each page css
.content {
    position: fixed;
    width: 100vw; 
    height: 100vh;
    top: 0;
    padding: 50px;
    background-color: $secondary;
    transform: scale(0);
    overflow: auto;
    
    &.smooth {
        transition: all ease-in-out 1s;
    }

    &.show {
        transform: scale(1);
    }
}

@keyframes animatename{
    0%{
      transform: translateY(2px);
    }
    50%{
      transform: translateY(-2px);
    }
    100% {
        transform: translateY(2px);
    }
}
