//main page on my work click (to give the zoom)
.contents.my-work {
    transform: translate3d(0, -36px, 200px);
}

//Main page my work desk css
.content-holder.my-work {
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%) translateZ(-29px);
    width: 120px;

    h2 {
        top: -10px;
    }
}

//my work page css
.content.my-work {
    img {
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        cursor: pointer;
    }

    button {
        margin-top: -20vh;
    }

    .work-info {
        margin-top: calc(50vh - 350px);
        margin-bottom: calc(50vh - 150px);
        div {
            margin-top: 50px;
            margin-bottom: 50px;

            p {
                transition: all ease-in-out 1s;
                opacity: 0;
                white-space: pre-line;

                &.show {
                    opacity: 1;
                }
            }
        }
    }
}