<div class='content about-me' elemId="contentAboutMe">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>About Me:</h1>
        <p class="mb-3">Hi, I'm Luis Boavida and I'm studying at Coventry University.<br>
          I'm a programmer, and this his my portfolio.<br>
          In here you will be able to see my work as a programmer since I started.<br>
          You will see some of the works I did when I was in school, Working, and at Coventry University.<br>
          Here are a few technologies I've been working with recently:</p>

        <div class="skills">

          <div class="d-flex justify-content-center">
            <p>HTML5</p>
            <div class="progress">
              <div class="progress-bar w-90-progress"></div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <p>CSS3</p>
            <div class="progress">
              <div class="progress-bar w-90-progress"></div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <p>Javascript (ES6+)</p>
            <div class="progress">
              <div class="progress-bar w-90-progress"></div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <p>NodeJS</p>
            <div class="progress">
              <div class="progress-bar w-90-progress"></div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <p>DenoJS</p>
            <div class="progress">
              <div class="progress-bar w-85-progress"></div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <p>Web Apis</p>
            <div class="progress">
              <div class="progress-bar w-70-progress"></div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <p>Python</p>
            <div class="progress">
              <div class="progress-bar w-65-progress"></div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <p>React</p>
            <div class="progress">
              <div class="progress-bar w-50-progress"></div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <p>AngularJS</p>
            <div class="progress">
              <div class="progress-bar w-50-progress"></div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <p>C# Asp.net</p>
            <div class="progress">
              <div class="progress-bar w-50-progress"></div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <p>Php</p>
            <div class="progress">
              <div class="progress-bar w-50-progress"></div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <p>C++</p>
            <div class="progress">
              <div class="progress-bar w-30-progress"></div>
            </div>
          </div>
        </div>

        <button class="btn btn-primary mt-3" elemId="returnAboutMeBtn">Return</button>
      </div>
    </div>
  </div>
</div>