<div style="display: none;" class='content' elemId="contentContacts">
  <h1>Contacts:</h1>
  <a href="https://www.linkedin.com/in/luis-boavida" target="_blank"><img src="img/linkedin.png" height="100"
      alt="linkedin"></a>
  <a href="https://github.com/LuisBoavida0/" target="_blank"><img src="img/github.png" height="100" alt="linkedin"></a>
  <a href="https://www.npmjs.com/~luisboavida" target="_blank"><img src="img/npm.png" height="100" alt="linkedin"></a>
  <button elemId="returnContactsBtn">Return</button>
</div>