<button class="btn btn-primary" elemId="returnContactsBtn">Return</button>
<a href="https://www.linkedin.com/in/luis-boavida" target="_blank" class="linkedin"><img src="img/linkedin.png" width="100%"
    alt="linkedin"></a>
<a href="https://github.com/LuisBoavida0/" target="_blank" class="github"><img src="img/github.png" width="100%" alt="github"></a>
<a href="https://www.npmjs.com/~luisboavida" target="_blank" class="npm"><img src="img/npm.png" width="100%" alt="npm"></a>