<div style="display: none;" class='content my-work' elemId="contentMyWork">
  {{#each myWork}}
    <div>
      <h1>{{this.projectName}}</h1>
      <video width="320" height="240" controls>
        <source src="videos/{{this.video}}" type="video/mp4">
        Video not supported
      </video>
      <p>{{this.description}}</p>
      {{#if @last}}
        <button elemId="returnMyWorkBtn">Return</button>
      {{/if}}
    </div>
  {{/each}}
</div>