{{! Instead of using head and body, you will need to use x-head and x-body}}
{{! If you want to import a script here (you should import on the js file instead), you will need to use x-script element instead of script}}
<!DOCTYPE html>
<html lang="en">
<x-head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</x-head>
<x-body>
    <h1>404</h1>
</x-body>
</html>