{{! Declare layout}}
{{#> layout }}

{{! Add header}}
{{> header }}
<div class="root">
  <div class="contents" elemId="contentsDiv">
    <div class="roof"></div>
    <div class="floor"></div>
    <div class="f-wall" elemId="fWall"></div>
    <script>
      if (window.innerHeight > window.innerWidth) //If width smaller add class
        document.getElementsByClassName('f-wall')[0].classList.add('w-smaller-than-h')
    </script>
    <div class="b-wall"></div>
    <div class="l-wall">
      <div class='content-holder about-me' elemId="aboutMeDiv">
        <img class="text-svg" src="img/about-me-text.svg">
        <img class="down-arrow" src="img/down-arrow.svg" alt="down arrow">
        <img class="image-holder" src="img/frame.png">
      </div>
    </div>
    <div class="r-wall">
      <div class='content-holder contacts' elemId="contactsDiv">
        {{> contacts }}
      </div>
    </div>
    <div class='content-holder my-work' elemId="myWorkDiv">
      <img class="text-svg" src="img/my-work-text.svg">
      <img class="down-arrow" src="img/down-arrow.svg" alt="down arrow">
      <img class="image-holder" src="img/desk.png">
    </div>
  </div>
</div>

{{> aboutMe }}

{{> myWork }}
{{/layout}}